.column-separator {
    border-right: 4px solid #a40001;
}

.column-separator:last-child {
    border-right: none;
}

@media (max-width:768px){
    .getEverySpace{
        margin-top: 0px !important;
    }
}


