.headerStyle {
    font-size:13px;
    text-align:left;
    padding-left:15px;
}

.subList {
    padding-left:15px;
    list-style:none;
}

.mean-container .mean-nav ul {
    background: white !important;
}

