.custom-accordion {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.accordion-title {
  font-size: 28px;
  font-weight: 600;
}

.accordion .accordion-item {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.accordion .accordion-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.accordion .accordion-header {
  font-weight: 600;
  font-size: 20px;
  color: #0056b3;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #f1f5fa;
}

.accordion .accordion-header .number {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #a31e22;
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 15px;
}

.accordion .accordion-header:hover {
  background-color: #e2ecff;
}

.accordion .accordion-header .icon-chevron {
  transition: transform 0.3s ease;
  color: #007bff;
}

.accordion .accordion-header[aria-expanded="true"] .icon-chevron {
  transform: rotate(180deg);
}


.accordion .accordion-body {
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border-top: 1px solid #e1e4e8;
}

/* Image container */
.image-container {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
    padding: 20px;
    border-right: 1px solid #e5e5e5;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.image-container img:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .accordion-title {
      font-size: 22px;
  }

  .accordion-header {
      font-size: 16px;
  }

  .accordion-body {
      font-size: 14px;
  }
}


.accordion-button{
  border: none;
  text-align: start;
  width: 100%;
  background: none;
  display: flex;
}

button:focus{
  outline: none;
}

@media (max-width:768px){
  .image-container{
    display: none !important;
  }


}

.ParaAccFont{
  font-size: 1.2rem;
}