.tabs-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    background-color: #002855;
    border-radius: 10px 10px 0 0;
    flex-wrap: wrap; /* Allow tabs to wrap on smaller screens */
  }
  
  .tab {
    background: none;
    border: none;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    flex-grow: 1; /* Allow tabs to grow equally */
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .tab:hover {
    background-color: #004080;
  }
  
  .tab.active {
    background-color: #94aef1;
    border: #94aef1 !important;
  }
  
  .tab {
    border-right: 1px solid ;
  }
  
  .tab-content {
    border: 1px solid #94aef1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .tabs {
      flex-direction: column; /* Stack tabs vertically on smaller screens */
    }
  
    .tab {
      padding: 10px;
      font-size: 14px; /* Adjust font size for mobile */
    }
  
    .tab-content {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .tabs-container {
      padding: 5px;
    }
  
    .tab {
      padding: 8px;
      font-size: 12px; /* Further adjust font size for smaller screens */
    }
  
    .tab-content {
      padding: 10px;
    }
  }
  
  
  .accordion__title{
    margin-bottom: 2rem;
  }
  
  .tab-content img{
    width: 100%;
  }