


/* 
@media (max-width: 2560px) {
  .formContainer {
    position: absolute;
    bottom: 19%;
    right: 3%;
    z-index: 10;
    width: 27%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 20px;
    box-shadow: 0px 4px 8px rgba(255, 209, 209, 0.1);
    border-radius: 10px;
    background-color: #fff0f0;
    font-size: large;
}
  .formControl {
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 16px;
      margin-bottom: 1rem;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
          color: #494949;
    }
  .submitButton {
      display: block;
      width: 100%;
      padding: 0.4rem;
      background-color: #dc3545;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      margin:0;
    }
}


@media (max-width: 1600px) {
  .formContainer {
    position: absolute;
    bottom: 17%;
    right: 6%;
    z-index: 10;
    width: 29%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 20px;
    box-shadow: 0px 4px 8px rgba(255, 209, 209, 0.1);
    border-radius: 10px;
    background-color: #fff0f0;
  }
  .formControl {
      display: block;
      width: 100%;
      padding: 0.2rem;
      font-size: 16px;
      margin-bottom: 1rem;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      color: #494949;
  
    }
  .submitButton {
      display: block;
      width: 100%;
      padding: 0.4rem;
      background-color: #dc3545;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      margin:0;
    }
}



@media (max-width: 1440px) {
  .formContainer {
    position: absolute;
    bottom: 17%;
    right: 3%;
    z-index: 10;
    width: 30%;
    background: rgba(255, 255, 255, 0.8);
    padding:25px 20px;
    box-shadow: 0px 4px 8px rgba(255, 209, 209, 0.1);
    border-radius: 10px;
    background-color: #fff0f0;
}
  .formControl {
      display: block;
      width: 100%;
      padding: 0.2rem;
      font-size: 16px;
      margin-bottom: 1rem;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      color: #494949;
  
    }
  .submitButton {
      display: block;
      width: 100%;
      padding: 0.4rem;
      background-color: #dc3545;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      margin:0;
    }
}

@media (max-width: 1024px) {
  .formContainer {
      position: absolute;
      top: 0%;
      right: 2%;
      z-index: 10;
      width: 35%;
      background: rgba(255, 255, 255, 0.8);
      padding: 12px 20px;
      box-shadow: 0px 4px 8px rgba(255, 209, 209, 0.1);
      border-radius: 10px;
      background-color: #fff0f0;
    }
    .formControl {
      display: block;
      width: 100%;
      padding: 0.2rem;
      font-size: 16px;
      margin-bottom: .8rem;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      color: #494949;
  
    }
    textarea {
      height: 30px;
  }
  .submitButton {
      display: block;
      width: 100%;
      padding: 0.1rem;
      background-color: #dc3545;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      margin:0;
    }
  
}
@media (min-width: 769px){
  .formContainer2 {
    display: none;
    }
}
@media (max-width: 768px) {
  .formContainer {
    display:none;
  }
  .formContainer2 {
  display: none;
    z-index: 10;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0.8);
    padding: 12px 20px;
    box-shadow: 0px 4px 8px rgba(255, 209, 209, 0.1);
    border-radius: 10px;
    background-color: #fff0f0;
  }
  .formControl {
    display: block;
    width: 100%;
    padding: 0.2rem;
    font-size: 16px;
    margin-bottom: .8rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #494949;

  }
  textarea {
    height: 30px;
}
.submitButton {
    display: block;
    width: 100%;
    padding: 0.1rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin:0;
  }

  
}

@media (max-width: 425px) {
  .formContainer {
      display:none;
  }
  .formContainer2 {
    z-index: 10;
    width: 90%;
    margin-top: 10px;
    margin-left:5%;
    background: rgba(255, 255, 255, 0.8);
    padding: 12px 20px;
    box-shadow: 0px 4px 8px rgba(255, 209, 209, 0.1);
    border-radius: 10px;
    background-color: #fff0f0;
  }
  .formControl {
    display: block;
    width: 100%;
    padding: 0.2rem;
    font-size: 16px;
    margin-bottom: .8rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #494949;

  }
  textarea {
    height: 30px;
}
.submitButton {
    display: block;
    width: 100%;
    padding: 0.1rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin:0;
  }
}
.bannerContainer {
  position: relative;
}

.carouselContainer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carouselItem {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carouselItem.active {
  opacity: 1;
}

.carouselImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.submitButton:hover {
  background-color: #c82333;
}

.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}


.serviceInp{
  font-size: 16px;
    color: #494949;
}

.bannerContainer {
  position: relative;
}

.carouselContainer {
  position: relative;
}

.bannerButtons {
  position: absolute;
  bottom: 20px;
  right: 100px;
  display: flex;
  gap: 10px;
}

.bannerButton {
  background-color: #a31e22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bannerButton:hover {
  background-color:  #84090d;
border: #84090d;
}


@media(max-width:768px){
  .bannerButtons {
    position: absolute;
    bottom: 7px;
    right: 15px;
    display: flex;
    gap: 10px;
  }
}

.inputSec{
  font-size: 14px;
} */

