.formContainer3{
    padding: 11px;
    border-radius: 10px;
    background:#a9d3ff;
    width: 100%;
    box-shadow: -3px 3px 5px grey;

}

input[type=radio]{
    position: relative;
    right: 7px;
}

@media (max-width: 2560px) {
    .formControl {
        display: block;
        width: 100%;
        padding: 4px;
        font-size: 16px;
        margin-bottom: 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        color: #494949;
    }
}