
  .sticky-social{
    position:fixed;
    bottom:134px;
    right:0px;
    padding:0px;
    margin:0px;
    z-index: 10;
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:10px 10px;
    font-size:25px;
    transition:all 0.8s ease-in-out;
  }
  .social li:hover{
      margin-left:-30px;
   box-shadow:2px 5px 10px grey;
  }
  .social li:hover .fa{
      margin-right:20px;
    
  }
  .fa{
    color:#fff;
    transition:all 0.8s ease-in-out;
  }
  .fb{
    background-color:#3C5A98;
  }
  .twitter{
      background-color:#1EA1F2;
  }
  .insta{
      background-color:#DC4F42;
  }
  .pin{
      background-color:#CB2128;
  }
  .vim{
      background-color:red;
  }

  @media (max-width:768px) {
    .sticky-social{
      display: none;
    }
  }