.discount-banner {
    display: flex;
    background-color: #ff4d4d;
    /* Red background */
    color: white;
    /* White text */
    text-align: center;
    padding: 5px 10px;
    border-radius: 40px;
    /* Fully round edges */
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.discount-text {
    font-size: 1em;
    font-weight: bold;
}

/* .discount-message {
    background-color: #a31e22;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.email-button {
    display: inline-block;
    /* background-color: #ff4d4d; */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 400;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.email-button:hover {
    background-color: white;
    color: #a31e22;
}


.discount-sticker {
    position: absolute;
    top: 44px;
    right: 6px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
  }
  

  .featur_itmes{
    padding: 0px 32px !important;
  }