.bg-inner{
    background-image: url('/images/innerimg/research-bg.jpg');
    background-size: cover;  
    padding: 36px 0px;

  }


  @media (max-width:768px){
    .bg-inner{
      display: none;
    }
  }