:root {
    --color-white: #fff;
    --color-title: #333;
    --color-border: #ddd;
    --color-primary: #007bff;
    --fs-lg: 2rem;
    --fs-md: 1.2rem;
    --fw-bold: 700;
    --fw-medium: 500;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
  }
  
  .container {
    width: 100%;
    margin: auto;
    /* place-items: center; */
  }
  
  .accordion__wrapper {
    background-color: var(--color-white);
    border-radius: 2.5rem;
    width: 100%;
    padding: 5rem;
  }
  
  .accordion__title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--color-title);
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .accordion {
    border-bottom: 0.1rem solid var(--color-border);
    padding-bottom: 2rem;
    margin-bottom: 3rem;
  }
  
  .accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  
  .accordion__icon {
    background-color: #a21e22;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    flex-shrink: 0;
  }
  
  .accordion__question {
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    color: var(--color-title);
  }
  
  .accordion__answer {
    padding: 2rem 0;
  }
  
  .accordion__content {
    overflow: hidden;
    height: 0;
    transition: var(--transition);
  }
  
  @media screen and (min-width: 580px) {
    .accordion__wrapper {
      padding: 5rem 8rem;
    }
  }

  @media screen and (max-width: 768px) {
    .accordion__wrapper {
      padding: 2rem;
    }
  }


  